.category {
  background-color: white;
  overflow: hidden;
  /* position: fixed; 수정중 fixed는 굉장히 어색한느낌이있어서 수정함 */
  justify-content: space-between;
  margin-top: 10px;
  z-index: 3;
  width: 65rem;
  height: 6rem;
  display: flex;
}

.categorybox {
  height: 30px;
  justify-content: center;
}

.categoryimage {
  border-radius: 50%;
  border: #abb0ea solid 2px;
  display: block;
  width: 60px;
  height: 60px;
}

/* Style the links inside the navigation bar */
.category a {
  text-align: center;
  max-width: 100%;
  display: block;
  color: black;
  padding-top: 5px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 2px;
}

/* Change the color of links on hover */
.categoryBtn:hover {
  text-decoration: none;
  color: #abb0ea;
}

/* Add an active class to highlight the current page */
/* .category a:active {
  background-color: #4caf50;
  color: #abb0ea;
} */

/* Hide the link that should open and close the topnav on small screens */
.category .icon {
  display: none;
}
