* {
  box-sizing: border-box;
}

.missions { 
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

@media screen and (max-width: 1090px) {
  .missions {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.intro {
  width: 275px;
  height: 34px;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #506270;
}

.intro2 {
  width: 275px;
  height: 34px;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #abb0ea;
}

.category {
  background-color: #333;
  overflow: hidden;
  position: fixed;

  justify-content: space-between;
  z-index: 3;
}
