body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.8%;
  color: #abb0ea;
  background-color: white;
  font-weight: bold;
  justify-content: space-between;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #abb0ea;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar span {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #abb0ea;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #abb0ea;
  color: white;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: #abb0ea;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #abb0ea;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.navbarCenter a {
  float: none;
  position: absolute;
  top: 50%;
  bottom: 6.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbarCenter img {
  width: 3.7%;
  height: 98.6%;
  float: none;
  position: absolute;
  top: 0%;
  left: 48%;
  /* transform: translate(-50%, -50%); */
}

.navbarRight {
  float: right;
  margin-right: 19.3%;
}

/* Responsive navigation menu (for mobile devices) */
/* @media screen and (max-width: 600px) {
  .navbar a,
  .navbarRight {
    float: none;
    display: block;
  }

  .navbarCenter img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
} */

.navLink{
  margin-left: 19.3%;
  width: 32.4%;
  height: 3%;
  font-size: 16px;
  text-align: center;
  font-family: NotoSansCJKkr;
  line-height: 2.25;
  color: #506270;
}