* {
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: white;
  padding: 10px;
  max-width: 300px;
  max-height: 700px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  z-index: 1;
}

.container:hover {
  transform: scale(1.1);
  transition: transform 100ms ease-in;
  text-decoration: none;
}


.deadline {
  width: 356px;
  height: 24px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: left;
  color: #abb0ea;
  text-align: right;
}
/* .container .mission a {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
} */

.mission img {
  margin-bottom: 20px;
  position: relative;
  max-width: 300px;
  max-height: 10rem;
  width: 100%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  z-index: 2;
}

.title {
  width: 275px;
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #050505;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.categoryandtag {
  width: 275px;
  height: 22px;
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #adaeb9;
}
.tag {
  width: 275px;
  height: 22px;
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #050505;
}



.reward {
  width: 356px;
  height: 24px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: left;
  color: #abb0ea;
}

.line {
  width: 100%;
  height: 0;
  border: solid 1px #abb0ea;
}

.goal {
  width: 356px;
  height: 24px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: left;
  color: #abb0ea;
}
.summary {
  width: 270px;
  height: 48px;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #050505;
}

.rewarddata {
  display: flex;
}